torch
torchvision
torchaudio
pandas
numpy
matplotlib
seaborn
scikit-learn
datasets
transformers
sentence-transformers
sentencepiece
yt-dlp
faster-whisper
pyannote.audio
silero-vad
webrtcvad-wheels
librosa
soundfile
jiwer
tqdm
huggingface-hub
